<div class="ui negative message">
  <div class="header">
    <h3 class="error-msg"><%= t('errors.messages.error_occured') %></h3>
  </div>
  <div class="error-msg-detail">
    <%= @message ? @message : '' %>
  </div>
</div>

