/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material-components-web/dist/material-components-web
 *= require vuetable-2/dist/vuetable-2
 *= require semantic-ui-css/semantic
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(font-path('MaterialIcons-Regular.eot')); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(font-path('MaterialIcons-Regular.woff2')) format('woff2'),
       url(font-path('MaterialIcons-Regular.woff')) format('woff'),
       url(font-path('MaterialIcons-Regular.ttf')) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.content {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
}
.main-content {
  padding-left: 16px;
  padding-right: 24px;
  padding-top: 16px;
  width: 100%;
  overflow: scroll;
}

#vue_root {
  height: 100%;
}

.error-theme {
  color: #ff4081;
}
