// Place all the styles related to the cameras controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.camera-grid {
  --mdc-layout-grid-margin-desktop: 8px;
  .mdc-grid-tile {
    --mdc-grid-list-tile-width: 300px;
  }
}
.camera-grid-small {
  --mdc-layout-grid-margin-desktop: 8px;
  .mdc-grid-tile {
    --mdc-grid-list-tile-width: 200px;
  }
}
