<% content_for(:title) { '統計情報' } -%>
<h1>Sales#index</h1>
<p>Find me in app/views/sales/index.html.erb</p>

<%#<date-picker :date="{time: ''}"></date-picker>%>
<month-picker :year="2017" :month="7"></month-picker>
