<header class="mdc-toolbar mdc-toolbar--fixed demo-header-toolbar">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="catalog-back">
        <a href="/" class="mdc-toolbar__icon--menu"><i class="material-icons"></i></a>
      </span>
      <span class="mdc-toolbar__title catalog-title">Toolbar</span>
    </section>
  </div>
</header>
